@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form>
    <p>Input Message</p>
    <input type="text" name="message-input"></input>
    <p>Input Image</p>
    <input type="text" name="image-input"></input>
    <input type="submit"></input>
</form>#