@using MyFace.Models.Request
@using MyFace.Repositories
@using MyFace.Controllers
@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form method="post" action="/posts/create">
    <label for="userId">User Id</label><br/>
    <input type="number" id="userId" name="userId" alt="user id input box"/><br/>
    <label for="Message">Input Message</label><br>
    <input id="Message" type="text" name="Message"></input><br>
    <label for="ImageUrl">Input Image</label><br>
    <input id="ImageUrl-image" type="text" name="ImageUrl"></input><br>
    <input type="submit"></input>
</form>

@{
    CreatePostRequestModel thing = new CreatePostRequestModel();
    // Message
    // ImageUrl
    // UserId
}