@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

* {
    font-family: 'Space Mono', monospace;
}

/*TODO add extra fonts */
/*TODO Add hover to full navbar */

@media (max-width: 700px) {
    .topnav {
        overflow: hidden;
        background-color: #2a7f6b;
        position: relative;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 16px 18px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .icon {
        height: 30px;
        width: 30px;
    }

    /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
    }

    /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the active link (or home/logo) */
    .logo {
        background-color: #04AA6D;
        color: white;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Karla', sans-serif;
        background-color: #1f6555;
        flex: 1;
    }

    .topnav a {
        font-size: 25px;
    }

}

@media (min-width: 700px){
    .topnav {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        background-color: #2a7f6b;
        position: relative;
        align-items: center;
    }

    .topnav a.icon {
        display: none;
    }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }

    /* Style navigation menu links */
    .topnav a {
        color: white;
        padding: 12px 18px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    /* Style the active link (or home/logo) */
    .logo {
        color: white;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Karla', sans-serif;
        background-color: #1f6555;
        flex: 1;
    }
    
    #logo {
        padding: 16px 20px;
    }

    .topnav a {
        font-size: 25px;
    }

}

/* Posts layout */

.post-message {
    margin: 20px 0;
}

.list-of-posts {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
}

.pageContent {
    max-width: 800px;
    margin: 0 auto;
}

body {
    background-color: lightgray;
}

.page-title {
    text-align: center;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.post-user {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    
}

.profile-picture {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: #1f6555;
    border-width: thick;
    background-color: #1f6555;
}

.posts-article {
}

div.post-user-info {
    flex-direction: column;
    margin-left: 10px;
}

p.display-name {
    font-weight: bold;
}

p.post-time {
    color: rgba(0, 0, 0, 0.43);
    font-size: 12px;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.post-image {
    max-height: 100%;
    max-width: 100%;
}

.post-data {
}

.post-data .post-likes {
    display: inline;
    white-space: nowrap;
    margin-right: 20px;

}

.user-info {
    height: 100px;
    width: 100px;
}

.post-data .post-dislikes {
    display: inline;
    white-space: nowrap;
}
/* Create Post Layout */

/* UserPage Styling */
.user-info .cover-picture {
    
}

fieldset{
    margin: auto;
    padding: 1em 2em;
    min-width: 200px;
}


label{
    display: block;
    margin-top: 1em;
}

label:first-of-type{
    margin-top:0;
}
input{
    padding: 0.5em;
    border: solid 1px #999;
}
input[type="text"]{
    width: 15em;
}

textarea{
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border:solid 1px #999;
}

input[type="submit"]{
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #333;
    color: #fff;
    font-size: .8em;
}
.post-form-container{
    display: flex;
    justify-content: center;
    flex:1;
    flex-direction: column;
    max-width: 1000px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}